.product {
  flex: 4;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 21px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.productAddButton {
  padding: 5px 8px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.productTop {
  display: flex;
  width: 100%;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 21px;
  margin: 21px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 13px;
}

.productInfoImage {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 0 21px;
  width: 100%;
}

.productUploadInput {
  display: none;
}

.productForm {
  padding: 21px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 13px;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: gray;
}

.productFormLabel > input {
  margin-top: 13px;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft > select {
  margin-bottom: 13px;
}

.productUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 13px;
  object-fit: cover;
  margin-right: 21px;
}

.productFormright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  display: flex;
  align-items: center;
}

.productButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
